<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="QLBV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\Logs.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="1MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level %date [%thread] - %message%newline%exception%newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<appSettings>
		<add key="ComPort" value="COM3"/>
		<add key="phongdoc" value="1"/>
		<add key="withListBN" value="377"/>
		<add key="timerAutoResultCLS" value="0"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="SoBenhNhanHienThi" value="5"/>
		<add key="URL_POS_AGRIBANK" value="http://192.168.1.45:8888/ecr"/>
		<add key="UPDATE_PATH" value=""/>
		<!--Cổng chính-->
		<add key="URL_BHXH" value="http://egw.baohiemxahoi.gov.vn"/>
		<!--Cổng test-->
		<!--<add key="URL_BHXH" value="http://ctndaotao.bhxh.gov.vn" />-->
		<add key="URL_BHXH_DaoTao" value="http://wsdt.baohiemxahoi.gov.vn"/>
		<!--<add key="URL_Send_PACS" value="https://localhost:44324/" />-->
		<add key="Circulars27" value="https://api.donthuocquocgia.vn/"/>
	</appSettings>
	<connectionStrings>
		<add name="QLBVEntities" connectionString="metadata=res://*/QLBVEntity.csdl|res://*/QLBVEntity.ssdl|res://*/QLBVEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=QLBV;persist security info=True;user id=soncx;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="QLBV.Properties.Settings.QLBVConnectionString" connectionString="Data Source=manhcuong-pc\sqlexpress;Initial Catalog= QLBV_PMEM;User ID=sa;Password= 123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Vssoft_serviceSoap"/>
				<binding name="WSPortalSoapBinding1"/>
				<binding name="WSPortalSoapBinding"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.0.105:6633/Vssoft_service.asmx" binding="basicHttpBinding" bindingConfiguration="Vssoft_serviceSoap" contract="ServiceReference_stt.Vssoft_serviceSoap" name="Vssoft_serviceSoap"/>
			<endpoint address="https://congdulieuyte.vn/hPortal/services/WSPortal" binding="basicHttpBinding" bindingConfiguration="WSPortalSoapBinding" contract="ServiceReference1.WSPortal" name="WSPortal"/>
		</client>
	</system.serviceModel>
	<applicationSettings>
		<QLBV.Properties.Settings>
			<setting name="QLBV_vn_congdulieuyte_WSPortalService" serializeAs="String">
				<value>https://congdulieuyte.vn/hPortal/services/WSPortal</value>
			</setting>
			<setting name="QLBV_InvBusinessService30003_BusinessService" serializeAs="String">
				<value>https://ttytchilinhadmin.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessService_BusinessService" serializeAs="String">
				<value>https://ttytkinhmonadmin.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessService30007_BusinessService" serializeAs="String">
				<value>https://bvdktukycadmin.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessservice30012_BusinessService" serializeAs="String">
				<value>https://ttytcamgiangadmin.vnpt-invoice.com.vn/Businessservice.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessServicedemo_BusinessService" serializeAs="String">
				<value>https://ttytkinhmonadmindemo.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessservicedemo30003_BusinessService" serializeAs="String">
				<value>https://ttytchilinhadmindemo.vnpt-invoice.com.vn/Businessservice.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessServiceDemo30007_BusinessService" serializeAs="String">
				<value>https://bvdktukyadmindemo.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalService_PortalService" serializeAs="String">
				<value>https://ttytkinhmonadmin.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalService30003_PortalService" serializeAs="String">
				<value>https://ttytchilinhadmin.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalService30007_PortalService" serializeAs="String">
				<value>https://bvdktukycadmin.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalservice30012_PortalService" serializeAs="String">
				<value>https://ttytcamgiangadmin.vnpt-invoice.com.vn/portalservice.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServicedemo_PortalService" serializeAs="String">
				<value>https://ttytkinhmonadmindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalservicedemo30003_PortalService" serializeAs="String">
				<value>https://ttytchilinhadmindemo.vnpt-invoice.com.vn/Portalservice.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServiceDemo30007_PortalService" serializeAs="String">
				<value>https://bvdktukyadmindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishService_PublishService" serializeAs="String">
				<value>https://ttytkinhmonadmin.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishservice30003_PublishService" serializeAs="String">
				<value>https://ttytchilinhadmin.vnpt-invoice.com.vn/Publishservice.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishService30007_PublishService" serializeAs="String">
				<value>https://bvdktukycadmin.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishservice30012_PublishService" serializeAs="String">
				<value>https://ttytcamgiangadmin.vnpt-invoice.com.vn/publishservice.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishServicedemo_PublishService" serializeAs="String">
				<value>https://ttytkinhmonadmindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishservicedemo30003_PublishService" serializeAs="String">
				<value>https://ttytchilinhadmindemo.vnpt-invoice.com.vn/publishservice.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishServiceDemo30007_PublishService" serializeAs="String">
				<value>https://bvdktukyadmindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishServiceDemo27022_PublishService" serializeAs="String">
				<value>https://bvmatbnh-tt78admindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishService27022_PublishService" serializeAs="String">
				<value>https://bvmatbnh-tt78admindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalService27022_PortalService" serializeAs="String">
				<value>https://bvmatbnh-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishservicedemo30003_TT78_PublishService" serializeAs="String">
				<value>https://ttytchilinh-tt78admindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServicedemo30003_TT78_PortalService" serializeAs="String">
				<value>https://ttytchilinh-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessservicedemo30003_TT78_BusinessService" serializeAs="String">
				<value>https://ttytchilinh-tt78admindemo.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvPotalServicedemo_30003_TT78_PortalService" serializeAs="String">
				<value>https://ttytchilinh-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishserviceCongThat30003_TT78_PublishService" serializeAs="String">
				<value>https://ttytchilinh-tt78admin.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServiceCongThat30003_TT78_PortalService" serializeAs="String">
				<value>https://ttytchilinh-tt78admin.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvBusinessserviceCongThat30003_TT78_BusinessService" serializeAs="String">
				<value>https://ttytchilinh-tt78admin.vnpt-invoice.com.vn/BusinessService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServicedemo_30012_TT78_PortalService" serializeAs="String">
				<value>https://ttytcamgiang-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishServicedemo_30012_TT78_PublishService" serializeAs="String">
				<value>https://ttytcamgiang-tt78admindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServiceCongThat_27022_TT78_PortalService" serializeAs="String">
				<value>https://2300244498-tt78cadmin.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishServiceCongThat_27022_TT78_PublishService" serializeAs="String">
				<value>https://2300244498-tt78cadmin.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
			<setting name="QLBV_InvPortalServiceCongThat_30012_TT78_PortalService" serializeAs="String">
				<value>https://ttytcamgiang-tt78admin.vnpt-invoice.com.vn/PortalService.asmx</value>
			</setting>
			<setting name="QLBV_InvPublishServiceCongThat_30012_TT78_PublishService" serializeAs="String">
				<value>https://ttytcamgiang-tt78admin.vnpt-invoice.com.vn/PublishService.asmx</value>
			</setting>
		</QLBV.Properties.Settings>
	</applicationSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
